<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="favicon.ico" />
  <title>Healthy Weight SMART Application</title>
  <script src="https://rawgit.com/smart-on-fhir/client-js/master/dist/fhir-client.min.js"></script>
</head>

<body>
  <div id="healthy-weight">
    <div class="mdl-layout mdl-js-layout">
      <header id="cirg-header" class="mdl-layout__header mdl-layout__header--fixed">
        <div class="mdl-layout__header-row no-menu">
          <div class="cirg-logo-container">
            <div class="cirg-logo">
              <span class="app-title">Smart-On-FHIR</span>
            </div>
          </div>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">

              <div class="demo-card-wide mdl-card mdl-shadow--2dp cirg-card">
                <div class="mdl-card__title">
                  <div class="mdl-card__title-text">{{ patient.name.given }} {{ patient.name.family }}</div>
                </div>
                <div class="cirg-row">
                  <span class="mdl-card__supporting-text">Sex: {{ patient.gender }}</span>
                  <span class="mdl-card__supporting-text">Birthdate: {{ patient.birthDate }}</span>
                  <span class="mdl-card__supporting-text mrn">MRN: {{ patient.mrn }}</span>
                </div>
              </div>
              <p></p>

              <div class="demo-card-wide mdl-card mdl-shadow--2dp cirg-card">
                <div class="mdl-card__title">
                  <div class="mdl-card__title-text">Clinical Observations</div>
                </div>
                <div class="cirg-row">
                  <div v-if="patient.weightDate" class="mdl-card__supporting-text">
                    {{ patient.weightDate }}:
                  </div>
                  <div class="mdl-card__supporting-text">
                    Weight: {{ patient.weight }} {{ patient.weightUnit }}
                  </div>
                  <div class="mdl-card__supporting-text">
                    Height: {{ patient.height }} {{ patient.heightUnit }}
                  </div>
                  <div class="mdl-card__supporting-text">
                    BMI: {{ patient.bmi }}
                  </div>
                </div>
              </div>
              <p></p>

              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                  <div class="charttitle">Median BMI for <span id="caps">{{ patient.gender }}s</span> for Three Physical Activity Levels</div>
                </div>
                <div id="char-container-container">
                  <div id="chart-container">
                    <canvas class="chartCanvas" id="BMIChart"></canvas>
                  </div>
                </div>
              </div>
              <p></p>

              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <!-- MDL Tab Container -->
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                  <!-- Tab Bars -->
                  <div class="mdl-tabs__tab-bar">
                    <a href="#occupation-panel" class="mdl-tabs__tab is-active">Occupation</a>
                    <a href="#exercise-panel" class="mdl-tabs__tab">Physical Activity</a>
                    <a href="#diet-panel" class="mdl-tabs__tab">Nutrition</a>
                    <a href="#sleep-panel" class="mdl-tabs__tab">Sleep</a>
                  </div>

                  <div class="mdl-tabs__panel is-active cirg-tab-panel risk-text" id="occupation-panel">
                    <div v-if="patient.cirg.occupation_23" class="mdl-card__supporting-text risk-text">
                      Occupation: {{ patient.cirg.occupation_23 }}
                    </div>
                    <div v-if="patient.cirg.occupation_type" class="mdl-card__supporting-text risk-text">
                      Type: {{ patient.cirg.occupation_type }}
                    </div>
                    <div v-if="patient.cirg.occupation_schedule" class="mdl-card__supporting-text risk-text">
                      Schedule: {{ patient.cirg.occupation_schedule }}
                    </div>
                    <div v-if="patient.cirg.occupation_hours" class="mdl-card__supporting-text risk-text">
                      Hours: {{ patient.cirg.occupation_hours }} / week
                    </div>
                    <div v-if="patient.cirg.occupation_start" class="mdl-card__supporting-text risk-text">
                      Start: {{ patient.cirg.occupation_start }}
                    </div>
                  </div>

                  <!-- MDL tab panels, is-active to denote currently active -->
                  <div class="mdl-tabs__panel cirg-tab-panel risk-panel" id="exercise-panel">
                    <div v-if="patient.cirg.freq_physical" class="mdl-card__supporting-text risk-text">
                      Physical Activity: {{ patient.cirg.freq_physical }} time(s) weekly for {{ patient.cirg.physical_quantity }} mins
                      <br/><br/>
                      <span v-if="patient.cirg.ready_exercise">Readiness to change: {{ patient.cirg.ready_exercise }} / 10</span>
                    </div>
                    <!-- <div v-else class="mdl-card__supporting-text">
                      No physical activity data found for patient.
                    </div> -->
                  </div>

                  <!-- MDL Tab panel 2 -->
                  <div class="mdl-tabs__panel cirg-tab-panel risk-panel" id="diet-panel">
                    <div class="mdl-card__supporting-text risk-text">
                      <span v-if="patient.cirg.freq_water">Water: {{ patient.cirg.freq_water }}/day,</span>
                      <span v-if="patient.cirg.freq_veg">Veg: {{ patient.cirg.freq_veg }}/day,</span>
                      <span v-if="patient.cirg.freq_fruit">Fruit: {{ patient.cirg.freq_fruit }}/day</span>
                    </div>
                    <div class="mdl-card__supporting-text risk-text">
                      <span v-if="patient.cirg.freq_soda">Soda: {{ patient.cirg.freq_soda }}/day,</span>
                      <span v-if="patient.cirg.freq_sports_drink">Sports Drinks: {{ patient.cirg.freq_sports_drink }}/day,</span>
                      <span v-if="patient.cirg.freq_fruit_juice">Fruit Juice: {{ patient.cirg.freq_fruit_juice }}/day,</span>
                      <span v-if="patient.cirg.freq_fast_food">Fast Food: {{ patient.cirg.freq_fast_food }}/day</span>
                    </div>
                    <br/>
                    <span v-if="patient.cirg.ready_nutrition" class="mdl-card__supporting-text risk-text">Readiness to change: {{ patient.cirg.ready_nutrition }} / 10</span>
                  </div>

                  <!-- MDL Tab panel 3 -->


                  <div class="mdl-tabs__panel cirg-tab-panel risk-panel" id="sleep-panel">
                    <div v-if="patient.cirg.bed_time" class="mdl-card__supporting-text risk-text">
                      Bed time: {{ patient.cirg.bed_time }}
                    </div>
                    <div v-if="patient.cirg.sleep_quantity" class="mdl-card__supporting-text risk-text">
                      Sleep quantity: {{ patient.cirg.sleep_quantity }} hrs (Average per 24hrs)
                    </div>
                    <br/>
                    <span v-if="patient.cirg.ready_sleep" class="mdl-card__supporting-text risk-text">Readiness to change: {{ patient.cirg.ready_sleep }} / 10</span>

                  </div>
                </div>
              </div>
              <p></p>

              <div v-if="patient.cirg.occupation_23 == 'Nursing, psychiatric, and home health aides'" class="demo-card-wide mdl-card mdl-shadow--2dp cirg-card">
                <div class="mdl-card__title">
                  <div class="mdl-card__title-text">Job-specific Health Tips</div>
                </div>
                <!-- <div class="buttons"> -->
                  <div class="mdl-card__supporting-text">
                    <a href="#" target="_blank">Shiftwork and healthy eating</a> Employee centered, single page article for nurses
                  <!-- </div> -->
                </div>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--2-col"></div>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>

</html>
